p {}

.footer-left p {
    line-height: 2;
    margin-bottom: 20px !important;
}

.contact-information-wrapper h5 {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 2px;
}

.contact-information-wrapper p {
    font-size: 20px !important;
}

.contact-information-wrapper {
    margin-bottom: 15px;
}